<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">
	<listeners>
		<listener class-name="basics.Listeners"/>
	</listeners>
	<parameter name="username" value="aarthin3"/>
	<parameter name="password" value="p@ssw0rd"/>
  <test thread-count="5" name="Test" parallel="classes">
    <classes>
      <class name="basics.Format"/>
      <class name="basics.Demo1"/>
      <class name="basics.Demo3">
		  <methods>
			  <include name="town.*"/>
		  </methods>
	  </class>
    </classes>
  </test>
  
  <test thread-count="5" name="Rural">
	  <parameter name="url" value="testURL"/>
    <classes>
      <class name="basics.Demo2">
		  <methods>
			  <exclude name="ruralCitizenLogin"/>
		  </methods>
      </class>
    </classes>
  </test>
</suite>
